<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="flybear.hziee.app.mapper.MailboxMapper">
  <resultMap id="BaseResultMap" type="flybear.hziee.app.model.Mailbox">
    	<id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id,title,content,time,username from x_mailbox
  </select>
    
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id,title,content,time,username from x_mailbox
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from x_mailbox
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="flybear.hziee.app.model.Mailbox">
    update x_mailbox set title = #{title,jdbcType=VARCHAR},content = #{content,jdbcType=VARCHAR},time = #{time,jdbcType=VARCHAR},username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insert" parameterType="flybear.hziee.app.model.Mailbox">
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into x_mailbox (id,title,content,time,username)  
    values ( #{id,jdbcType=INTEGER},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{time,jdbcType=VARCHAR},#{username,jdbcType=VARCHAR})
  </insert>  
</mapper>